@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* start main  */

.section-start{
    background-color: blue;
       padding-bottom: 86px;
       display: flex;
       padding-left: 40px;
    
}

.font-size h1{
    font-weight:700;
    color: white;
    margin-top: 121px;
}
.font-size:hover button{
    transform: translate(100px);
    }

.head-image{
    width: 556px;
    height: 438px;
    margin-top: 67px;
    padding-left: 40px;
 }

.player-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    margin-bottom: 165px;
}
.players{
  
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px gray;
    padding: 15px;
    text-align: center;
}
.players p{
    text-align: justify;
}
.match-section{
    display: flex;
    margin: 30px;
}
.match-style{
    text-align: justify;
    margin: 20px;
}
/* footerst */
footer{
    text-align: center;
    margin-top: 149px;
    margin-bottom: 72px;
}
button{
    padding: 0 10px;
    color: white;
    background-color: tomato;
    font-size: 20px;
}

/* media quaries */
@media (max-width: 700px) {
    .player-list{
        display: block;
        flex-direction: column;
    }
    .section-start{
        display: block;
        flex-direction: column;
    }
}


